<!-- Right menu -->
<ion-side-menu side="right" style="background:#e7617a">
  <div class="wrapper m-t-lg">
    <h3>Grades.Today</h3>
    <p class="b-b b-light">Expand your collection</p>
    <div class="list b-b">
         <a class="item item-icon-left" ui-sref="tab.home">
        <i class="icon ion-ios-home calm"></i>
        <h2>Home</h2>
      
      </a>
      <a class="item item-icon-left" ui-sref="tab.profile">
        <i class="icon ion-person calm"></i>
        <h2>My Profile</h2>
      
      </a>

      <a class="item item-icon-left" href="#" onclick="window.open('http://bing.com', '_system', 'location=yes'); return false;">
        <i class="icon ion-ios-paper calm"></i>
        <h2>Report Card</h2>
       <p>By Term</p>
      </a>

      <a class="item item-icon-left" ui-sref="tab.gradesanalysis">
        <i class="icon ion-clipboard calm"></i>
        <h2>Grades Analysis </h2>
           <p>Over the Years</p>
      </a>

      <a class="item item-icon-left" ui-sref="tab.healthrecord">
        <i class="icon ion-ios-albums calm"></i>
        <h2>Health Record </h2>
        <p>Tracking Growth</p>
      
      </a>
         <a class="item item-icon-left" ui-sref="welcome" >
        <i class="icon ion-ios-locked calm"></i>
        <h2>LogOut </h2>
     
      
      </a>
    </div>

    <div>
    Let's help them excel.....
      <div class="text-sm calm">www.grades.today</div>
    </div>
  </div>
</ion-side-menu>
