<ion-view view-title="Health Record" hide-nav-bar="true">
    <ion-header-bar class="bar-calm item-input-inset bar-no-border">
        <label class="">
            <center><img src="img/grades-today-yellow1.png" width="100" alt="logo"></center>
        </label>

        <button class="button button-icon pull-right"   ng-click="toggleMenu()"><img src="img/sidemenu.png" width="30"  alt="logo"></button>
    </ion-header-bar>

  <ion-content class="stable-bg">
  <div class="row text-center " style="margin-top:5px;" >
            <div class="row  tabbottom" >

                <div-highchart-line2 id="container" class="highchartmap23"></div-highchart-line2>

            </div>
        </div>
       <div class="row text-center " style="margin-top:5px;" >
            <div class="row  tabbottom" >
     <div-highchart-line9 id="container" class="highchartmap23"></div-highchart-line9>
</div>
        </div>
  </ion-content>
</ion-view>
