<ion-view hide-nav-bar="true" >
     <ion-header-bar class="bar-calm item-input-inset bar-no-border">
        <label class="">
            <center><img src="img/grades-today-yellow1.png" width="100" alt="logo"></center>
        </label>

        <button class="button button-icon pull-right"   ng-click="toggleMenu()"><img src="img/sidemenu.png" width="30"  alt="logo"></button>
    </ion-header-bar>

    <ion-content class="">
     <iframe style="width:100%;height:600px" src="http://beta.grades.today/timetable.php"></iframe>

    </ion-content>
</ion-view>