
<ion-view hide-nav-bar="true" >
   

    <ion-content class="bg-muted" style="background:linear-gradient(0, #4e89e8,#75c6fc)" >
        <ion-refresher on-refresh="refresh()" pulling-icon="ion-chevron-up"></ion-refresher>
        <center style='padding-top:150px;padding-bottom:20px '><img src="img/Delhi International School - Logo.png" width="140" alt="logo"></center>
        <h5 class="text-center flex-vertical-center" style="color:#fff;margin-left:20px;margin-right:20px;font-family:opensans;"><b style="font-size:18px;text-align:justify">Our hope lies in the endowment of our youth. We need to build a world 
                of creative thinkers and active learners. We owe it to our children to 
                give them the best opportunities and an education that will help them 
                to build brilliant future.</b></h5>
         <p align="right" style="font-family: Calibri; padding-right:40px;"><b>- Principal</b></p>
    </ion-content>

</ion-view>

