<ion-view view-title="Notifications" hide-nav-bar="true">
  
  <ion-header-bar class="bar-calm item-input-inset bar-no-border">
        <label class="">
            <center><img src="img/grades-today-yellow1.png" width="100" alt="logo"></center>
        </label>

        <button class="button button-icon pull-right"   ng-click="toggleMenu()"><img src="img/sidemenu.png" width="30"  alt="logo"></button>
    </ion-header-bar>

  <ion-content class="stable-bg">
  

      <div class="card">
        <div class="item item-avatar item-text-wrap">
          <img src="" random-avatar alt="">
          <div class="row no-padder">
            <div class="no-padder col-75">
              <h2 class="text-sm">Science Project Synopsis has uploaded on the portal</h2>
            </div>
            <div class="no-padder col-25 text-right">
              <i class="dot-status text-xs icon ion-record calm"></i>
              <span class="text-muted text-xs">2 mins</span>
            </div>
          </div>
<!--          <div class="likers wrapper-sm">
            <img class="thumb-xs rounded m-r-sm pull-left" src="img/adam.jpg" random-avatar alt="" ng-repeat="i in [0,1]">
            <span class="thumb-xs rounded b b-light more-liker">
              <i class="icon ion-more"></i>
            </span>
          </div>
          <button class="button button-small padder button-outline button-calm font-bold">Say happy birthday</button>-->
        </div>
      </div>


      <div class="card">
        <div class="item item-avatar item-text-wrap">
          <img src="" random-avatar alt="">
          <div class="row no-padder">
            <div class="no-padder col-75">
              <h2 class="text-sm">Tomorrow School is closed on account of State wide Bandh</h2>
            </div>
            <div class="no-padder col-25 text-right">
              <i class="dot-status text-xs icon ion-record calm"></i>
              <span class="text-muted text-xs">2 mins</span>
            </div>
          </div>
<!--          <div class="likers wrapper-sm">
            <img class="thumb-xs rounded m-r-sm pull-left" src="img/adam.jpg" random-avatar alt="" ng-repeat="i in [0,1]">
            <span class="thumb-xs rounded b b-light more-liker">
              <i class="icon ion-more"></i>
            </span>
          </div>-->
          <!--<button class="button button-small padder button-outline button-calm font-bold">Say happy birthday</button>-->
        </div>
      </div>

      <div class="card">
        <div class="item item-avatar item-text-wrap">
          <img src="" random-avatar alt="">
          <div class="row no-padder">
            <div class="no-padder col-75">
              <h2 class="text-sm">Tomorrow following Mock test would be conducted for following topics</h2>
            </div>
            <div class="no-padder col-25 text-right">
              <span class="text-muted text-xs">30 mins</span>
            </div>
          </div>

          <div class="font-bold text-sm">
            <div>Algebra</div>
            <div>Sets & Union</div>
            <div>Trigonometry</div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
